<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   android:versionCode="19"
   android:versionName="1.1.2"
   package="com.cube.nanotimer">

  <uses-sdk
     android:minSdkVersion="8"
     android:targetSdkVersion="20"/>

  <!-- Permissions for Stackmat -->
  <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
  <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

  <!-- Permissions for startapp ads -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- Additional for appnext ads -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

  <application
     android:icon="@drawable/icon"
     android:label="@string/app_name"
     android:theme="@style/NanoTimerTheme">

    <activity
       android:name=".gui.MainScreenActivity"
       android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
       android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
       android:name=".gui.TimerActivity"
       android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
    <activity android:name=".gui.OptionsActivity"/>
    <activity
       android:name=".gui.SolveTypesActivity"
       android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
      <intent-filter>
        <action android:name="com.cube.nanotimer.gui.SolveTypesActivity"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name=".gui.ExportActivity"
       android:windowSoftInputMode="stateAlwaysHidden"
       android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
      <intent-filter>
        <action android:name="com.cube.nanotimer.gui.ExportActivity"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <service android:name=".scrambler.randomstate.ChargingStateService"/>
    <receiver android:name=".scrambler.randomstate.ChargingStateReceiver">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
        <action android:name="com.cube.nanotimer.action.CHECK_PLUG_STATE"/>
      </intent-filter>
    </receiver>

    <provider
       android:name="android.support.v4.content.FileProvider"
       android:authorities="com.cube.nanotimer.fileprovider"
       android:exported="false"
       android:grantUriPermissions="true">
      <meta-data
         android:name="android.support.FILE_PROVIDER_PATHS"
         android:resource="@xml/fileprovider"/>
    </provider>

    <!-- for startapp -->
    <activity
       android:name="com.startapp.android.publish.list3d.List3DActivity"
       android:theme="@android:style/Theme"/>

    <activity
       android:name="com.startapp.android.publish.AppWallActivity"
       android:theme="@android:style/Theme.Translucent"
       android:configChanges="orientation|keyboardHidden|screenSize"/>
    
    <!-- for appnext -->
    <!--<service android:name="com.appnext.appnextsdk.DownloadService"/>-->

  </application>
</manifest>
