<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   android:versionCode="3"
   android:versionName="1.0"
   package="com.cube.nanotimer">

  <uses-sdk
     android:minSdkVersion="9"
     android:targetSdkVersion="9"/>

  <!-- Permissions for ads -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
     android:icon="@drawable/icon"
     android:label="@string/app_name"
     android:theme="@android:style/Theme.NoTitleBar">

    <activity
       android:name=".activity.MainScreenActivity"
       android:configChanges="orientation|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
       android:name=".activity.TimerActivity"
       android:configChanges="orientation|screenSize"/>
    <activity android:name=".activity.OptionsActivity"/>
    <activity
       android:name=".activity.SolveTypesActivity"
       android:configChanges="orientation|screenSize">
      <intent-filter>
        <action android:name="com.cube.nanotimer.activity.SolveTypesActivity"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <!-- For ads -->
    <!-- <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/> -->
    <!-- <meta-data android:name="com.google.android.gms.version" android:value="5089000"/> -->
    <meta-data android:name="com.google.android.gms.version" android:value="4030500" />
    <meta-data android:name="com.pfaey.opypm200398.APPID" android:value="235358"/>
    <meta-data android:name="com.pfaey.opypm200398.APIKEY" android:value="android*1408738404200398455"/>

    <activity
       android:exported="false"
       android:name="com.pfaey.opypm200398.AdActivity"
       android:configChanges="orientation|screenSize"
       android:theme="@android:style/Theme.Translucent"/>
    <activity
       android:name="com.pfaey.opypm200398.BrowserActivity"
       android:configChanges="orientation|screenSize"/>
    <activity
       android:name="com.pfaey.opypm200398.VActivity"
       android:configChanges="orientation|screenSize"
       android:screenOrientation="landscape"
       android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    </activity>

    <service
       android:name="com.pfaey.opypm200398.LService"
       android:exported="false"/>
    <receiver
       android:name="com.pfaey.opypm200398.BootReceiver"
       android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

  </application>
</manifest>
